<?php
namespace app\config;

use Illuminate\Database\Capsule\Manager as Capsule;

class Database {
	public static function init()
	{
		$capsule = new Capsule;

		$capsule->addConnection([
			'driver' => 'mysql',
			'host' => 'localhost',
            'database' => 'mediastore',
            'username' => 'root',
            'password' => 'root',
            'collation' => 'utf8_unicode_ci',
            'prefix'    => ''
		]);

		$capsule->setAsGlobal();
		$capsule->bootEloquent();
	}
}