.hide {
    display: none;
}

.show {
    display: block;
}

.show-modal {
    cursor: pointer;
}

.pusher {
    margin-top: 75px;
}

#menu-panel .menu .item {
    min-width: 150px;
}
img.detail_img {
    height: 150px;
    width: 150px;
}